.btn-group {
    display: flex;
}

.btn {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn.left {
    border-right: none;
    border-radius: 20px;
}

.btn.right {
    border-left: none;
    border-radius: 20px;
}

.btn.active {
    background-color: #00ebff;
    color: #000;
    border-color: #00ebff;
}

.btn:hover {
    background-color: #e0e0e0;
    color: #333;
}
